<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/latest">Latest</a>
                    </li>
                    <li>
                        <a href="/religion">Religion</a>
                    </li>
                    <li>
                        <a href="/folitics">Politics</a>
                    </li>
                    <li>
                        <a href="/folklore">Folklore</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

                
                        <h2>Contact</h2>
                  
                        <a href="mailto:email@email.com"  style="text-decoration: none; color: white;">Dublin</a>
                 
                        <a href="/contact" style="text-decoration: none; color: white;">Click to Email</a>
                
                </ul>
            </div>
        </div>
    </div>

    <!--
    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.irelandwebdesigns.ie" target="_blank" rel="noopener">IrelandWebDesigns</a>
    </div>
    -->
</footer>