<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}


<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <a class="cs-logo" aria-label="click to go to home page" href="/">
            <!--Light Colored Logo, remove .dark image tag and the .light class if you don't have a dark and light version -->
            <img class="light" aria-hidden="true" src="/assets/images/logo-blue.webp" decoding="async" alt="logo" width="221" height="66">

            <!--Dark Colored Logo-->
            <img class="dark" aria-hidden="true" src="/assets/images/logo-light.webp" decoding="async" loading="lazy" alt="logo" width="221" height="66">
        </a>
     
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Latest
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            SEO
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Tech
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Web Design
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
    </div>
</header>
                                
                                